@import 'tailwindcss';

:root {
  color-scheme: dark;
  --background: black;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-ibm-plex-mono), ui-monospace, monospace;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}
